# Entornos virtuales
venv/
entorno_virtual/

# Python
__pycache__/
*.py[cod]

# Variables sensibles
.env

# Base local vieja
db.sqlite3

# Archivos estáticos/media generados
media/
staticfiles/

# IDEs / SO
.vscode/
.idea/
.DS_Store
Thumbs.db