# Entorno virtual
venv/
env/

# Archivos de Python
__pycache__/
*.pyc
*.pyo

# Archivos de Django
db.sqlite3
db_prod.sqlite3
media/
staticfiles/
*.sqlite3

# Configuración local
*.env

# Archivos de VS Code
.vscode/

