{% extends "base.html" %}

{% block title %}Cambiar contraseña{% endblock %}

{% block content %}
<div class="card" style="max-width:500px; margin:auto;">
  <div class="h2">Cambiar contraseña</div>
  <p class="muted">Por seguridad, ingresá tu contraseña actual.</p>

  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}

    <div style="margin-top:16px;">
      <button class="btn btn--ok" type="submit">
        🔐 Actualizar contraseña
      </button>
    </div>
  </form>
</div>
{% endblock %}
