<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Inicio - PSM Playón</title>
</head>
<body>
    <h1>Playón Municipal - Sistema Interno</h1>

    <p>Usuario logueado: <strong>{{ request.user.username }}</strong></p>

    <hr>

    {% if es_admin_sistema %}
        <h2>Panel de Administración</h2>
        <ul>
            <li><a href="/vehiculos/lista/">Ver vehículos en el sistema</a></li>
            <li><a href="{% url 'nuevo_ingreso_playon' %}">Registrar ingreso al playón</a></li>
            <li><a href="/admin/">Ir al administrador de Django</a></li>
            <li>En el futuro: gestión de usuarios, roles, configuración, etc.</li>
        </ul>
    {% endif %}

    {% if es_inspector %}
        <h2>Módulo de Inspector</h2>
        <ul>
            <li>Registrar nueva infracción y secuestro</li>
            <li>Ver mis infracciones</li>
        </ul>
    {% endif %}

   {% if es_encargado_playon %}
    <h2>Módulo del Encargado del Playón</h2>
    <ul>
        <li><a href="{% url 'lista_vehiculos' %}">Ver vehículos en el sistema</a></li>
        <li><a href="{% url 'nuevo_ingreso_playon' %}">Registrar ingreso al playón</a></li>
    </ul>
    {% endif %}


    {% if es_juez %}
        <h2>Módulo de Juzgado de Faltas</h2>
        <ul>
            <li>Ver vehículos en infracción</li>
            <li>Dar alta para retiro</li>
            <li>Ver historial de un vehículo</li>
        </ul>
    {% endif %}

    {% if not es_inspector and not es_playon and not es_juez and not es_admin_sistema %}
        <p>No tenés ningún rol asignado todavía. Pedí a un administrador que te asigne uno.</p>
    {% endif %}

    <hr>
    <p><a href="{% url 'logout' %}">Cerrar sesión</a></p>
</body>
</html>
